/* Red Google+ Theme */
@-moz-document domain("plus.google.com") {
    /* トップバー */
    div.XS1fT {
        background: #DC4437;
    }

    /* 文字 */
    div.cDCnlb .kaAt2.KKjvXb {
        color: #ffffff;
    }
    div.cDCnlb .kaAt2 {
        color:#E0E0E0;
    }

    /* Googleロゴ */
    a.xdjHt.FYQzvb, .xdjHt.FYQzvb.ex5ZEb,
    div.KSpDGb {
        background-image: url('https://ssl.gstatic.com/images/branding/lockups/2x/lockup_gplus_light_color_88x24dp.png');
        opacity: 1;
    }

    /* トップバー上のアイコン */
    div.gb_8 .gb_b {
        background-position: 0px -2180px;
        opacity: 1;
    }
    div.gb_Qc {
        color: #000000;
        background-color: #ffffff;
    }
    a.gb_b:hover .gb_Qc, .gb_b:focus .gb_Qc {
        background-color: #9E9E9E;
    }
    div.gb_Qc.gb_Rc {
        background-position: 0 -600px;
    }
    c-wiz.s49ete div.XS1fT path {
        fill: #ffffff;
    }

    /* 検索ボックス */
    div.Or9bCd .EPPZeb {
        color: #E06055;
        background-color: #E06055;
    }
    div.d1dlne,
    .s49ete .FGhx7c,
    .s49ete .Ww5CL {
        color: #ffffff;
    }
    div.f81Q3b.Or9bCd .yuvn1,
    .f81Q3b.u3bW4e.Or9bCd .yuvn1,
    .s49ete .DPvwYc {
        color:#fff6;
    }

    /* 調整 */
    div.gb_da .gb_b {
        background-position: 0 -2180px;
        opacity: 1;
    }
    div.gb_Nc.gb_Oc {
        background-position: 0 -600px;
    }
}

@-moz-document url("https://plus.google.com/u/0/communities"), url("https://plus.google.com/u/1/communities"), url("https://plus.google.com/u/2/communities"), url("https://plus.google.com/u/3/communities"), url("https://plus.google.com/u/4/communities"), url("https://plus.google.com/u/5/communities"), url("https://plus.google.com/u/6/communities"), url("https://plus.google.com/u/7/communities"), url("https://plus.google.com/u/8/communities"), url("https://plus.google.com/u/9/communities") {
    /* コミュニティページ向けの調整 */
    div.XS1fT {
        background:#0f9d58;
    }
}